<h1>LayerSlider</h1>

<div id="layerslider" style="width: 1280px; height: 720px; max-width: 1280px;">
	<div class="ls-slide" data-ls="slidedelay: 7000; transition2d: 75,79;">
		<img src="sliderimages/jellyfish-blur.jpg" class="ls-bg" alt="Slide background"/>
		<h1 class="ls-l" style="top: 100px; left: 100px;" data-ls="offsetxin: 0; offsetxout: 300; offsetyin: top; offsetyout: 300; durationin: 2000;durationout: 2000; delayin: 2000; rotateyin: 60;">Its a clownfish!</h1>
		<img class="ls-l" style="left: 30%; top: 50%;" src="sliderimages/clownfish.png" alt="Image layer" data-ls="offsetxin: left; offsetxout: right; offsetyin: 150; offsetyout: -250; fadein: false; fadeout: false; easingin: easeoutquart; easingout: easeinquart; durationin: 2500; durationout: 2500; delayin: 500; showuntil: 1;">
	</div>
</div>