/* src/www/css/colors.css */
html {
	/*background: #303030;*/
}
body {
  color: rgba(0, 0, 0, 0.87);
  /*color: rgba(250, 250, 250, 0.87);*/
}

h1, h2, h3, h4, caption {
  color: rgba(0, 0, 0, 0.54);
}
h5, h6, .subhead, .menu, button {
  color: rgba(0, 0, 0, 0.87);
}

a {
  color: #ff4081;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {

}

.active {
  color: #e91e63;
}

.grayscale-filter {
	filter: saturate(0.03); 
}