.flex-container {
  width: 100%;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.flex-item {
  padding: 0px;
  width: 50%;
}
@media (max-width: 600px) {
  .flex-item {
    width: 100%;
  }
}
@media (min-width: 840px) {
  .flex-item {
    width: 25%;
  }
}

.cell {
  height: 275px;
  line-height: 200px;
  opacity: 0.9;
  transition: opacity 0.4s ease-out 0s;
  -webkit-transition: opacity 0.4s ease-out 0s;
  -moz-transition: opacity 0.4s ease-out 0s;
  -o-transition: opacity 0.4s ease-out 0s;
  -ms-transition: opacity 0.4s ease-out 0s;
}
.cell:hover {
  opacity: 1;
}

.app-tabs {
  display: none;
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 840px) {
  .app-tabs {
    display: block;
  }
}

.app-tabs-icon {
  display: block;
}
@media (min-width: 840px) {
  .app-tabs-icon {
    display: none;
  }
}

.flexcontainer {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
/* 1920 < xl */
@media (min-width: 1920px) {
  .flexitem {
    width: 50%;
  }
}
/* 1280 < lg < 1920 */
@media (min-width: 1280px) and (max-width: 1920px) {
  .flexitem {
    width: 50%;
  }
}
/* 960 < md < 1280 */
@media (min-width: 960px) and (max-width: 1280px) {
  .flexitem {
    width: 50%;
  }
}
/* 600 < sm < 960 */
@media (min-width: 600px) and (max-width: 960px) {
  .flexitem {
    width: 100%;
  }
}
/* xs < 600 */
@media (max-width: 600px) {
  .flexitem {
    width: 100%;
  }
}