@import "icons.css";
@import "flex.css";

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 24px;
}

body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 400;
}