@import "icons.css";
@import "flex.css";
@import "app-tabs.css";
@import "cell.css";

html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  line-height: 24px;
  font-size: 16px;
}

body, h1, h2, h3, h4, h5, h6 {
  /*margin: 0;*/
  font-weight: 300;
}

h1 {
  color: rgba(0, 0, 0, 0.54);
  /*background: #0f0;*/
  display: block;
  /*margin-top: 120px;*/
  /*padding-top: 50px;*/
  /*margin-bottom: 20px;*/
  font-size: 45sp;
  line-height: 48pt;
  /*-webkit-margin-before: 1.67em;*/
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 20px;
  -webkit-margin-end: 20px;
}

a {
  color: #ff4081;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 400;
}

.active {
  color:#e91e63;
}

.divider:last-child {
  display: none;
}