html {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  display: block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
/* Display 4 */
h1 {
  font-size: 112px;
  font-weight: 300;
  line-height:128px;
  letter-spacing: -5px;

}
/* Display 3 */
h2 {
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: -2.5px;
}
/* Display 2 */
h3 {
  font-size: 45px;
  font-weight: 400;
  line-height: 64px;
}
/* Display 1 */
h4 {
  font-size: 34px;
  font-weight: 400;
  line-height: 52px;
}
/* Headline */
h5 {
  font-size: 24px;
  font-weight: 400;
  line-height: 44px;
}
/* Title */
h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 44px;
  letter-spacing: 2.5px;
}
.subhead {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 5px;
}
.menu {
  font-size: 14px;
  font-weight: 600;
  line-height: 32px;
}
button {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 5px;
}
caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 10px;
}
strong {
  font-weight: 400;
}

.article {
  padding-left: 16px;
  padding-right: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
  font-size: 17px;
  line-height: 1.88235;
}